*{
    margin: 0;
    padding: 0;
    
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card{
    height:140px;
    width:120px;
    border-color: aliceblue;
    border: 1px solid black;
    border-radius: 10px;
     margin-left: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}
.card img{
    width : 90%;
    height: 90%;
}