*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width:100%;
    background-color: #f0f0f0;
}
#Main{
    height:100%; 
    width:100%;
}
.icon{
 padding:10px;
    border-radius: 50%;
    margin-top: 6px;
}
.icon:hover{
    background-color: lightblue;
}
#login{
 
    display: flex;
    margin-top: 15px;
    border-radius: 50%;
}

#try{
    font-weight: bold;
    color: white;
    margin-top: 10px;
    background-color: #3ca204a2;
    padding: 10px;
    padding-bottom: 1px;
    margin-bottom: 8px;
}
#try:hover{
    background-color: #1843068d;
}	


#header{
    height:10%;
    width:100%;
    background-color: #ffffff;
    position:fixed;
    display:flex;
    justify-content: space-around;
}
#logo{
    height:60%;
    background-color: #fffefe;
    margin: 10px;
    
}
#logo img{
    height:100%;
    width:100%;
    object-fit: cover;
}
.texts{ 
    margin: 8px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:8px;
    margin-top: 10px;
    color: rgba(7, 7, 144, 0.928)
}
.texts:hover{
    color: rgb(17, 118, 21);

}
#fakeheader{
    height:10%;
    width:100%;
    background-color: #021203;
}
#page1{
    height:90%;
    width:100%;
    background-color: wheat;
}
#page2{
    height:90%;
    width:100%;
    background-color: #ffffff;
}
#contactdetials{
    margin-left: 50px;
    margin-top: 10px;
    font-weight: lighter;
}
#strip{
    width: 100%;
    height: 8%;
    background-color: rgb(0, 0, 118);
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: xx-small;
   
}
#strip u{
margin-left: 15px;
}
#content{
    height: 72%;
    width: 100%;
 background-color: rgb(255, 255, 255);
 display: flex;
    justify-content: center;
    align-items: center;
  
}
#box1{
    height: 100%;
    width: 50%;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    margin-top: 60px;
}
#box2{
    height: 100%;
    width: 50%;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    margin-top: 60px;
}
#tagline{
    background-color: rgb(255, 255, 255);
    height: 20%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: large;
    color: rgba(2, 2, 98, 0.779);
}