    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html,body{
        height: 100%;
        width:100%;
        background-color: #f0f0f0;
    }
    #main{
        height:100%;
        width:100%;
        background-color: white;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .class{
        height: 380px;
        width: 250px;
        background-color: #f0f0f0;
        padding: 20px;
        margin: 10px;
        border:2px solid #7f9573;
        border-radius: 20px;
        font-size: 10px;
    }
    #card1{
        background-color: white;
    }
    #card2{
        background-color: white;
    }
    #card3{
        background-color: white;
    }
    #card4{
        background-color: white;
    }
    .class img{
        height: 40%;
        width: 100%;
        object-fit: cover; 
    }
    .class h1{
        margin-left: -80px;
        margin-top: 13px;

    }
    .class p{
        margin-top: 20px;
        font-size: 14px;
        margin-left: -5px;
        letter-spacing: 1px;
    }
    .class h2{
    margin-top: 80px;
    margin-left: -90px;
    }
  