*{
  margin:0%;
  padding:0%;
}
html,body{
  height:100%;
  width:100%;
}
#main{
  height: 100%;
  width: 100%;
  background-color: #ffffff;

}
#page1{
  height: 100%;
  width: 100%;
  background-color: #D7F9D3;
 
}

#header{
  height: 70px;
  width: 100%;
  background-color: #FFFFFF;
  position: fixed;
  display: flex;
}
#page2{
  height: 100%;
  width: 100%;
  background-color: #52b747;
  
}
#logo{
 height:47px;
 width:128px;
 background-color: #fffefe;
margin-top: 13px;
 margin-left: 35px;
}
img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.class{
  color:black;
  margin-left:24px;
  margin-top:29px;
  font-size: 14px;
  font-weight: 150;
}
/*#container{
  height:30px;
  width:30px;
  background-color: #f0f0f0;
  margin-left:250px;
  margin-top: 28px;
}*/
/*.large-icon {

  height:30px;
  width:30px;
  margin-left:355px;
  margin-top: 28px;
  align-items: center;
  justify-content: center;
  display: flex;
}*/
/*<div id="container"><i class="ri-search-line"></i></div>*/
