*{
    margin: 0%;
    padding:0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
.container { 
height: 100vh;
width: 100%;
background: #a5dae9;
display: flex;
align-items: center;
justify-content: center;
}
.calculator{
    background: #324154;
    border-radius: 10px;
    padding: 20px;
}
.calculator form input{
    border: 0;
    outline: 0;
    padding: 15px;
    font-size: 25px;
    height: 70px;
    width: 70px;
    cursor: pointer;
    background: transparent;
    color: #fff;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
}
form .display{
    justify-content: flex-end;
    display: flex;
    margin: 20px 0;
}
form .display input { 
    text-align: right;
    flex: 1;
    font-size: 45;
    box-shadow: none;
}
form input.equal{
    width: 140px;
}
form input.operator {
    color: #33ffd8;
}
