*{
    margin: 0%;
    padding: 0%;
    overflow: visible;
    box-sizing: border-box;
}
body {
  padding-top: 0px; /* Push content and bg down */

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  font-family: sans-serif;
}

header {
    background-color: black;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed; /* Makes header stick on top */
    top: 0;
    z-index: 999;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
    color: white;
    width: 100%;
    margin: 0px 80px;

}
ul{
    display: flex;
    flex-direction: row;
    gap: 35px;
    list-style: none;
    font-size: 13px;
    font-weight: 550;
    margin-left: -350px;
}
.hero-section {
  background-image: url("assests/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  color: white;
  text-align: center;
  padding: 40px 10px;
}
.btn1, .btn2 {
  background-color: #c420e2;
  border: none;
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
}
.p1{
  margin-top: 170px;
  font-size: 50px;
  font-weight: 800;
}
.p2{
  margin-top: 8px;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 600;
}
.logo{
  width: 70px;
  height: auto;
}
.h2{
 background-color: black;
    width: 20px;
    height: 100%;
    z-index: 998;
     left: 0;
}
.h3{
 background-color: black;
    width: 20px;
    height: 100%;
    z-index: 998;
     right: 0;
}