/* body{
    background-color:  #a53939
    ;
}

div::after{
   color: white;
    content: "welcome to our group"
}
@media ( min-height:500px) and ( max-height:550px) {
    body{
        background-color: green;

    }
    div::after{
        content: "it got changed ";
    }
}
@media ( min-width:600px) and ( max-width:2000px) {
    body{
        background-color: rgb(6, 13, 6);

    }
    div::after{
        color: white;
        content: "it got changed ";
    }
}
 */
 div{
    font-size: x-large;
    text-align: center;}
/* }   learning media queries  */
/*
@media (max-width:600px){
     body{
    background-color: #19621c;
 }
 div::after{
    color: white;
    content:"this is mobile";
 }
}
@media (min-width:600px){
     body{
    background-color: #1e628c;
 }
 div::after{
    color: white;
    content:"this is tablet";
 }
}
@media (min-width:768px){
     body{
    background-color: #8c8a1e;
 }
 div::after{
    color: white;
    content:"this is laptop";
 }
}
@media (min-width:1040px){
     body{
    background-color: #8c1e46;
 }
 div::after{
    color: white;
    content:"this is large screen";
 }
}*/
