*{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 15px;
}
li{
    list-style: none;
    cursor: pointer;
}
a{
    text-decoration: none;
}
button{
    background-color: rgb(47, 142, 47);
    padding: 4px 10px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    width: fit-content;
    border: 1px solid white;
}
button:hover {
    background-color: white;
    color: black;
    border: 1px solid black ;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav .logo{
    font-weight: 600;
    font-size: 30px
}
nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 500;
}
nav ul li:hover{
    font-weight: 900;
    text-decoration: underline;
    color: grey;
}
.Search-field{
    display: flex;
    gap: 30px;
}
input {
    padding: 4px 10px ;
}
.hero-section{
    display: flex;
    align-items: center;
}
.left-hero-section h1{
    margin-bottom: 20px;
    font-weight: 700;
}
.left-hero-section h1 span {
    color: rgb(0, 116, 162);
    font-weight: 900;
    font-size: 2.5rem;
}
.left-hero-section p {
    font-weight: 500;
}
.left-hero-section p span {
    font-weight: 900;
    font-size: 22px;
    color: rgb(13, 106, 142);
}
.right-hero-section{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    /* gap: 30px; */
}
.right-hero-section button {
 display: flex;
 align-items: center;
 gap: 30px;
}
.right-hero-section img{
    height : 300px;
     width : 300px;
     border-radius: 50%;
}
footer {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
}
footer p {
    font-weight: 600;
}
footer ul{
    display: flex;
    gap: 30px;
    align-items: center;

}